.primaryGreen{
    color: #96BB76;
}

.bg-primaryGreen{
    background-color: #96BB76;
}

.pgrey{
    color: #737373;
}

.mar{
    margin-top: 150px;
}

.cobg{
    background-color: #FFFFFF;
}

.reddiv{
    background-color: #E74040;
    width: 70px;
    height: 4px;
}

.redLine{
    background-color: #E74040;
    width: 60px;
    height: 2px;
}

.ppink{
    background-color: #FFF2F3;

}